<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form id="loginForm" ng-submit="doOwncloudOAuth()">
            <div class="form-group">
                <label for="username">Your OwnCloud username: </label>
                <input type="text" class="form-control" id="username" ng-model="owncloudUsername" placeholder="Username">
            </div>
            <button type="submit" class="btn btn-default" ng-click="doOwncloudOAuth()">Sign in with OwnCloud</button>
        </form>
    </div>
</div>